{% extends '@Tabler/security.html.twig' %}

{% block login_social_auth %}{% endblock %}

{% block login_form %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'TablerBundle') }}</p>
{% endblock %}

{% block login_actions %}
    <br>
    <a href="{{ path('tabler_welcome'|tabler_route) }}">
        {{ 'Show homepage'|trans({}, 'TablerBundle') }}
    </a>
{% endblock %}
