includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 9
    excludePaths:
        - %rootDir%/../../
    ignoreErrors:
        -   message: "#^PHPDoc tag @return contains generic type (.*) but class (.*) is not generic\\.$#"
            count: 1
            path: src/DependencyInjection/Configuration.php
            reportUnmatched: false
