{% extends '@Tabler/security.html.twig' %}

{% block login_social_auth %}{% endblock %}

{% block login_box_msg %}
    {{ 'Password Reset Email Sent'|trans({}, 'TablerBundle') }}
{% endblock %}

{% block login_form %}
    <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('tabler_password_reset'|tabler_route) }}">try again</a>.</p>
{% endblock %}
