<div class="row text-center align-items-center flex-row-reverse">
    <div class="col-lg-auto ms-lg-auto">
        <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item"><a href="https://docs.tabler.io/" class="link-secondary">Documentation</a></li>
            <li class="list-inline-item"><a href="https://github.com/tabler/tabler/blob/dev/LICENSE" class="link-secondary">License</a></li>
            <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank" class="link-secondary" rel="noopener">Source code</a></li>
            <li class="list-inline-item"><a href="https://github.com/sponsors/codecalm" target="_blank" class="link-secondary" rel="noopener">Sponsor</a></li>
        </ul>
    </div>
    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item">
                Made with Tabler and Symfony 2021-2025.
                All rights reserved.
            </li>
            <li class="list-inline-item">
                <a href="https://preview.tabler.io/changelog.html" class="link-secondary" rel="noopener">v1.4.0</a>
            </li>
        </ul>
    </div>
</div>