<a href="{{ path('tabler_welcome'|tabler_route) }}">
    {% if tabler_bundle.getLogoUrl() is not empty %}
        <img
                class="navbar-brand-image"
                src="{% if '://' in tabler_bundle.getLogoUrl() %}{{ tabler_bundle.getLogoUrl() }}{% else %}{{ asset(tabler_bundle.getLogoUrl()) }}{% endif %}"
                width="110" height="32"
                alt=""
        >
    {% else %}
        <i class="far fa-smile" style="font-size: 32px"></i>
    {% endif %}
</a>
