<div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
    <form action="." method="get">
        <div class="input-icon">
            <span class="input-icon-addon">
                <i class="fas fa-search"></i>
            </span>
            <input type="text" class="form-control" placeholder="Search…" aria-label="Search in website">
        </div>
    </form>
</div>
