services:

    KevinPapst\TablerBundle\Twig\RuntimeExtension:
        class: KevinPapst\TablerBundle\Twig\RuntimeExtension
        arguments:
            - '@request_stack'
            - '@event_dispatcher'
            - '@tabler_bundle.context_helper'
            - '%tabler_bundle.routes%'
        tags:
            - { name: twig.runtime }

    KevinPapst\TablerBundle\Twig\Extension\IconExtension:
        class: KevinPapst\TablerBundle\Twig\Extension\IconExtension
        tags:
            - { name: twig.extension }

    KevinPapst\TablerBundle\Twig\Runtime\IconRuntime:
        class: KevinPapst\TablerBundle\Twig\Runtime\IconRuntime
        arguments:
            $iconRenderer: '@.ux_icons.icon_renderer'
            $icons: '%tabler_bundle.icons%'
        tags:
            - { name: twig.runtime }

    KevinPapst\TablerBundle\Twig\TablerExtension:
        class: KevinPapst\TablerBundle\Twig\TablerExtension
        tags:
            - { name: twig.extension }

    tabler_bundle.context_helper:
        class: KevinPapst\TablerBundle\Helper\ContextHelper
        arguments:
            - '%tabler_bundle.options%'

    KevinPapst\TablerBundle\Helper\ContextHelper:
        alias: tabler_bundle.context_helper
