@import '~@tabler/core/dist/css/tabler.css';
@import '~@tabler/core/dist/css/tabler-marketing.css';
@import '~@tabler/core/dist/css/tabler-themes.css';
@import '~@tabler/core/dist/css/tabler-vendors.css';

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import 'tabler-fixes';
