{% extends '@Tabler/fullpage.html.twig' %}

{% block page_content %}

    <div
            class="container {% block container_size %}container-narrow{% endblock %} {% block container_class %}py-4{% endblock %}"
            {% block container_attr %}{% endblock %}
    >
        {% block wizard_before %}{% endblock %}

        {% block wizard_logo %}
            <div class="text-center mb-4">
                <h1 class="navbar-brand navbar-brand-autodark mb-4">
                    <a href="{{ path('tabler_welcome'|tabler_route) }}">
                        {% if tabler_bundle.getLogoUrl() is not empty %}
                            <img src="{% if '://' in tabler_bundle.getLogoUrl() %}{{ tabler_bundle.getLogoUrl() }}{% else %}{{ asset(tabler_bundle.getLogoUrl()) }}{% endif %}"
                                 width="110" height="32" alt="Logo" class="navbar-brand-image">
                        {% else %}
                            <i class="far fa-smile" style="font-size: 32px"></i>
                        {% endif %}
                    </a>
                </h1>
            </div>
        {% endblock %}

        {% block wizard_header_before %}{% endblock %}
        {% block wizard_header %}{% endblock %}
        {% block wizard_header_after %}{% endblock %}

        <div
                class="card {% block card_class %}card-md{% endblock %}"
                {% block card_attr %}{% endblock %}
        >
            {% block wizard_content_before %}{% endblock %}
            {% block wizard_content %}{% endblock %}
            {% block wizard_content_after %}{% endblock %}
        </div>

        {% block wizard_footer_before %}{% endblock %}
        {% block wizard_footer %}{% endblock %}
        {% block wizard_footer_after %}{% endblock %}

        {% block wizard_after %}{% endblock %}
    </div>

{% endblock %}

