{% macro alert(type, description, title, icon, dismissible, background) %}
    {% set dismissible = dismissible is same as (false) ? false : true %}
    {% set background = background is same as (true) ? true : false %}
    <div class="alert alert-{{ type|default('danger') }}{% if dismissible %} alert-dismissible{% endif %}{% if background %} alert-important{% endif %}" role="alert">
        <div class="d-flex">
            {% if icon %}
                <div>
                    <i class="alert-icon {{ icon|icon(icon, false) }}"></i>
                </div>
            {% endif %}
            <div>
                {% if title is not empty %}
                    <h4 class="alert-title">{{ title|trans }}</h4>
                {% endif %}
                <div{% if title %} class="text-muted"{% endif %}>{{ description|trans }}</div>
            </div>
        </div>
        {% if dismissible %}<a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>{% endif %}
    </div>
{% endmacro %}
