$primary-color: #2c3e50;
$primary-color--lighten: #273848;
$primary-color--darken: #273848;

$secondary-color: #009e94;
$secondary-color--lighten: #008f86;
$secondary-color--darken: #008f86;

$tertiary-color: #273d41;
$tertiary-color--lighten: #1f3134;
$tertiary-color--darken: #1f3134;

$success-color: #2fb344;
$success-color--darken: #2aa13d;

$warning-color: #f76707;
$warning-color--darken: #de5d06;

$danger-color: #d63939;
$danger-color--darken: #c13333;

$info-color: #4299e1;
$info-color--darken: #3b8acb;

$body-background-color: #f1f5f9;

$font-color: #1d273b;
$font-color--white: #fff;
$font-color--black: #000;

$white-color: #f8f8f8;
$white-color--darken: #e1e1e1;
$white-color--border: #009e94; // Tabler default: #206bc4

/* === Font: Hind === */
@font-face {
  font-family: 'Hind';
  font-weight: normal;
  src: url('../fonts/Hind/Hind-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Hind';
  font-weight: bold;
  src: url('../fonts/Hind/Hind-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Hind';
  font-weight: 300;
  src: url('../fonts/Hind/Hind-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Hind';
  font-weight: 600;
  src: url('../fonts/Hind/Hind-SemiBold.ttf') format('truetype');
}


/* === Font: MontSerrat === */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  src: url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
}

/**
 * Convert HEX "Sass color" into String "RBG Tabler variable"
 * @param $color [Sass::Script::Value::Color]
 */
@function hexToTablerRGB($color) {
  @return red($color), green($color), blue($color);
}

:root, :host {
  /* Fonts */
  --tblr-font-sans-serif: Hind, Arial, sans-serif;
  // --tblr-font-monospace: WhatYouWant

  
  /* Dark Theme colors */
  --tblr-dark: #1d273b;

  .navbar-dark {
    /** To be changed if you don't want to be the primary color as color **/
    --tblr-navbar-border-color: #{$primary-color--lighten};
    --tblr-navbar-bg: #{$primary-color};
    --tblr-navbar-active-bg: rgba(hexToTablerRGB($primary-color), 0.06);
    color: rgba(255, 255, 255, 0.7);
  }

  /* Common Bootstrap colors */
  --tblr-primary: #{$primary-color};
  --tblr-primary-darken: #{$primary-color--darken};
  --tblr-primary-rgb: #{hexToTablerRGB($primary-color)};

  --tblr-secondary: #{$secondary-color};
  --tblr-secondary-darken: #{$secondary-color--darken};
  --tblr-secondary-rgb: #{hexToTablerRGB($secondary-color)};

  --tblr-success: #{$success-color};
  --tblr-success-darken: #{$success-color--darken};
  --tblr-success-rgb: #{hexToTablerRGB($success-color)};

  --tblr-info: #{$info-color};
  --tblr-info-darken: #{$info-color--darken};
  --tblr-info-rgb: #{hexToTablerRGB($info-color)};

  --tblr-warning: #{$warning-color};
  --tblr-warning-darken: #{$warning-color--darken};
  --tblr-warning-rgb: #{hexToTablerRGB($warning-color)};

  --tblr-danger: #{$danger-color};
  --tblr-danger-dark: #{$danger-color--darken};
  --tblr-danger-rgb: #{hexToTablerRGB($danger-color)};

  /* Font color */
  --tblr-body-color: #{$font-color};
  --tblr-body-color-rgb: #{hexToTablerRGB($font-color)};

  /* Body Background color */
  --tblr-body-bg: #{$body-background-color};
  --tblr-body-bg-rgb: #{hexToTablerRGB($body-background-color)};

  /* Others */
  --tblr-border-color: #e6e7e9;
  --tblr-highlight-bg: #fdeccc;

  --tblr-link-color: #{$secondary-color}; // Tabler default is '--tblr-primary'
}


h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, var(--tblr-font-sans-serif); // font only for titles
}
