name: Tests & Analysis
on:
    pull_request: null
    push:
        branches:
            - main
jobs:
    tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: ['8.1', '8.2', '8.3', '8.4', '8.5']

        name: Linting - PHP ${{ matrix.php }}
        steps:
            - name: "Checkout"
              uses: actions/checkout@v5
            - name: "Setup PHP"
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: none
                  extensions: intl
            - name: "Install composer dependencies"
              run: composer install --no-progress
            - name: "Check Codestyle"
              run: PHP_CS_FIXER_IGNORE_ENV=1 composer codestyle
            - name: "Run PHPStan"
              run: composer phpstan
            - name: "Run Unit-Tests"
              run: composer tests
