name: CI
on:
    pull_request: null
    push:
        branches:
            - main
jobs:
    tests:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: ['8.1', '8.2', '8.3', '8.4']

        name: Linting - PHP ${{ matrix.php }}
        steps:
            -   uses: actions/checkout@v4
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    coverage: none
                    extensions: intl
            -   run: composer install --no-progress
            -   run: PHP_CS_FIXER_IGNORE_ENV=1 composer codestyle
            -   run: composer phpstan
            -   run: composer tests
